
// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';

.navbar-laravel {
  background-color: #fff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.04);
}


// My Style

// list statistik
.ststk {
    list-style-type: none;
    padding-top: 20px;
    padding-left: 0;
}

// table kolom vertikal text
.vertical-text {
	transform: rotate(630deg);
	transform-origin: center;
}